@page "/"

<PageTitle>Azure IoT Edge</PageTitle>

<h1>Welcome to the Azure IoT Edge Telemetry Sample Web App!</h1>

Welcome to your new IoT app.

<SurveyPrompt Title="How is Blazor working for you?" />
